    <!-- Blog entry goes here -->
<section>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Blog Post.</h5>
            <h6 class="card-subtitle mb-2 text-muted">Posted By Wulfsounds on 04/11/2022</h6>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt laborum perspiciatis numquam est provident incidunt ea cumque atque? Voluptatibus, aliquid. Vitae aliquam asperiores necessitatibus accusamus laudantium quod quisquam molestias recusandae.</p>
            <button type="button" class="btn btn-primary">Comment</button>
        </div>
        </div>
</section>
<!-- Blog post ends here -->