    <!-- Blog entry goes here -->
{{#each blogs as |blog|}}
<section>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{blog.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Posted By {{user.username}} on {{format_date}}</h6>
            <p class="card-text">{{blog.text}}</p>
            {{#if logged_in}}
            <button type="button" class="btn btn-primary">Comment</button>
            {{/if}}
        </div>
        </div>
</section>
{{/each}}
<!-- Blog post ends here -->