<!-- Dashboard template -->
<section>
    <button id="create-blog" type="button" class="btn btn-primary">+ CREATE BLOG POST</button>
</section>
<!-- Dashboard template ends -->

<script src="../public/js/dashboard.js"></script>