<!-- Login/SignUp template here -->
<section>
    <article class="login-container">
        <div class="card login">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <p class="card-text">
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                    </div>
                    <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
                    </div>
                </p>
                <a href="#" class="btn btn-primary">Log On</a>
            </div>
            </div>
    </article>
    <article>
        <div class="card login">
            <div class="card-body">
                <h5 class="card-title">Sign-Up</h5>
                <p class="card-text">
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                    </div>
                    <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                    </div>
                    <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                    </div>
                    <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
                    </div>
                </p>
                <a href="#" class="btn btn-primary">Sign Up</a>
            </div>
            </div>
    </article>
</section>
<!-- Login/SignUp template ends -->